# Virtual env
venv

# IDE files
.idea/
__pycache__/
.DS_Store

# Secrets
.env*

# DB files
db_data
migrations
.coverage
celerybeat-schedule.db

# Certs
*.pem

# Logs
*.log

# Images
webapp/static/avatars/*