{% extends 'base.html' %}
{% block title %}{{ _('Login') }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form method="post" action="{{ url_for('.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.login.label }}
                {% if form.login.errors %}
                    {% for error in form.login.errors %}
                        <p class="alert-warning">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.login(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="alert-warning">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.remember_me.label }}
                {{ form.remember_me(class_='form-control') }}
            </div>
            <input class="btn btn-success" type="submit" value="{{ _('Login') }}">
        </form>
        <h2 class="text-center">Register/Login With Facebook</h2>
        <a href="{{ url_for('facebook.login') }}">Login</a>
        <h2 class="text-center">Register/Login With GitHub</h2>
        <a href="{{ url_for('github.login') }}">Login</a>
        <div id="fb-root"></div>
    </div>
</div>

{% endblock %}