{% extends 'base.html' %}

{% block title %} {{ _('Registration') }} {% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" action="{{ url_for('.registration') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="alert-warning">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.username(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="alert-warning">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <p class="alert-warning">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.confirm_password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.recaptcha.label }}
                {{ form.recaptcha() }}
            </div>
            <input class="btn btn-success" type="submit" value="{{ _('Register') }}">
        </form>
    </div>
</div>
{% endblock %}