<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type"
      content="text/html; charset=UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <title>Welcome!</title>
  </head>
  <body style="background: linear-gradient(45deg, #7eb428, #ffffff); min-height: 100vh;">
    <div style="position:absolute; display: flex; justify-content:center; align-content:center;  margin: 20px auto; padding: 10px; background-color: #ffffff; border-radius: 10px; left: 30%; right: 30%; top: 30%; bottom: 30%; box-shadow: 0 15px 30px rgba(0,0,0,.5);">
        <div style="max-width: 600px;">
            <a href="{{ url_for('main.home', page=1) }}">
                <img src="../../static/images/logo.png" alt="Logo" style="display: block; margin: 0 auto;">
            </a>
            <h2 style="text-align: center; margin: 10px">Welcome!!!</h2>
            <p style="text-align: center; margin: 10px">Thanks for signing up. Please follow this <a href="{{ url_for('auth.email_confirm', token=token) }}">link</a> to confirm your email</p>
        </div>
    </div>

  </body>
</html>