{% macro render_post(posts, pagination=True) %}
{% if pagination %}
{% for post in posts.items %}
<div>
    <h1>
        <a href="{{ url_for('get_post', post_id=post.id)}}">{{ post.title }}</a>
    </a></h1>
    <div class="row">
        <div class="col">
            {{ post.text | truncate(500) | safe}}
            <a href="{{ url_for('get_post', post_id=post.id)}}">Read more</a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
{% for post in posts %}
<div>
    <h1>
        <a href="{{ url_for('get_post', post_id=post.id)}}">{{ post.title }}</a>
    </a></h1>
    <div class="row">
        <div class="col">
            {{ post.text | truncate(500) | safe}}
            <a href="{{ url_for('get_post', post_id=post.id)}}">Read more</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endmacro %}