{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block title %}{{ post.title }}{% endblock %}

{% block leftbody %}
<div class="row">
    <div class="col bg-light">
        <div class="row">
            <h1>{{ post.title }}</h1>
        </div>
        <div>
            {{ post.text | safe }}
        </div>
        <a class="btn btn-outline-warning" role="button" aria-pressed="true" href="{{ url_for('.edit_post', post_id=post.id) }}">{{ _('Edit') }}</a>
    </div>
</div>
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h3>{{ _('Comments') }}</h3>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            {% if comments | length == 0 %}
                <p>{{ _('There is no comments. You\'ll bi first!')}}</p>
            {% else %}
                {% for comment in comments %}
                <div class="shadow-sm p-2">
                    <dt>{{ _('By: %(name)s Date: %(date)s', name=comment.name, date=comment.date) }}</dt>
                    <dd>{{ comment.text | safe }}</dd>
                </div>
                {% endfor%}
            {% endif %}
        </div>
    </div>
</div>
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h4>{{ _('New comment:')}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{{ url_for('posts.get_post', post_id=post.id) }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label }}
                    {% if form.name.error %}
                        {% for error in form.name.error %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.name(class_='form-control')}}
                </div>
                <div class="form-group">
                    {{ form.text.label }}
                    {% if form.text.error %}
                        {% for error in form.text.error %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.text(class_='form-control') }}
                </div>
                <input class="btn btn-primary" type="submit" value="{{ _('Add comment') }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block rightbody %}
{{ macros.render_tops(recent, top_tags) }}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='/js/ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.replace('editor');
</script>
{% endblock %}
